html {
  font-family: Verdana;
  background-color: black;
  color: white;
  text-align: center;
  }
h1 {
  font-weight: normal;
  font-size: 50px;
  }
.hyperlink {
  color: Aquamarine;
  text-align: center;
  text-decoration: underline;
  }
h2 {
  font-size: 42px;
  font-weight: 300;
  }
.footer {
  text-align: right;
  }
